/** @format */

$body-bg: #f0f0f0 // #f0f3f7

$primary-color: #1d9e62

body#home
  margin: 0
  font-family: "Roboto", sans-serif
  background-color: $body-bg
  font-size: 16px
  line-height: 23px
  *
    box-sizing: border-box
    font-family: 'Roboto', sans-serif

  .serif
    font-family: 'Noto Serif', serif
  .text-white
    color: white
  .text-highlight
    color: #ec8d14
  .relative
    position: relative
  .absolute
    position: absolute
  .w-full
    width: 100%
  .w-11\/12
    width: 91.666%
  .w-10\/12
    width: 83.333%
  .w-9\/12
    width: 75%
  .w-8\/12
    width: 66.666%
  .w-7\/12
    width: 58.333%
  .w-6\/12
    width: 50%
  .w-5\/12
    width: 41.666%
  .w-4\/12
    width: 33.3333%
  .w-3\/12
    width: 25%
  .w-2\/12
    width: 16.666%
  .w-1\/12
    width: 8.333%
  .h-full
    height: 100%
  .block
    display: inline-block
  .inline-block
    display: inline-block
  .align-middle
    vertical-align: middle
  .flex
    display: flex
  .flex-row-reverse
    flex-direction: row-reverse
  .flex-col
    flex-direction: column
  .items-center
    align-items: center
  .justify-center
    justify-content: center
  .text-center
    text-align: center
  .m-0
    margin: 0
  .mb-5
    margin-bottom: 5px !important
  .mb-10
    margin-bottom: 10px !important
  .mt-10
    margin-top: 10px !important
  a
    color: black
    text-decoration: none

  .viewport
    width: 100%
    margin: auto
    position: relative
  .viewport-sm
    width: 100%
    margin: auto
    position: relative
  section.cover
    width: 100%
    position: relative
    background: rgb(46,113,171)
    background: -moz-linear-gradient(315deg, rgba(46,113,171,1) 0%, rgba(18,62,99,1) 100%)
    background: -webkit-linear-gradient(315deg, rgba(46,113,171,1) 0%, rgba(18,62,99,1) 100%)
    background: linear-gradient(315deg, rgba(46,113,171,1) 0%, rgba(18,62,99,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2e71ab",endColorstr="#123e63",GradientType=1)
    .cover-image
      display: none
    .cover-content
      width: 100%
      padding: 20px
      h1.name
        margin-left: 10px
        position: relative
        top: 5px
      h1.main-text
        font-size: 2rem
        line-height: 40px
    .overview-container
      width: 100%
      min-height: 250px
      background-color: white
      border-radius: 0px
      position: relative
      overflow: hidden
      margin-bottom: 25px
      .overview-item
        padding: 30px
        width: 100%
        &:hover
          background-color: #f6f6f6
          cursor: pointer
        .title
          margin-left: 5px

  section.description
    padding: 10px 0
    .desc-segment
      min-height: 200px
      margin-bottom: 20px
      .details-segment
        width: 100%
      .title-segment
        width: 100%
        text-align: center
        padding: 0 15px
        margin-bottom: 35px
      h1, p
        margin: 0
      .segment-item
        width: 100%
        min-height: 150px
        padding-left: 15px
        padding-right: 15px
        margin-bottom: 15px
        h4, p
          margin: 0
        h4
          margin-bottom: 5px
        p
          color: #555
        .desc-icon
          width: 40px
          height: 40px
          background-image: image-url("icons.png")
          background-size: 550%
          margin-top: -5px
          &.check
            background-position: -1px -1px
          &.template
            background-position: -55px -1px
          &.thumbs
            background-position: -52px -50px
            margin-top: -10px
          &.feedbacks
            background-position: -58px -100px
          &.ghost
            background-position: -110px -1px
          &.chart
            background-position: -113px -100px
            margin-top: -10px
          &.question
            background-position: -1px -50px
            margin-top: -10px
          &.clock
            background-position: -1px -100px
            margin-top: -10px
          &.report
            background-position: -175px -1px
          &.blocker
            background-position: -114px -52px
            margin-bottom: -10px
          &.jira
            background-image: image-url("jira.png")
            background-size: 100%
  section.footer
    height: 100px
    background-color: #333
    padding: 0 15px
    .footer-copy, .footer-social
      width: 50%
    .footer-mid
      display: none
    .social-icons
      width: 40px
      height: 40px
      display: flex
      justify-content: center
      align-items: center
      border-radius: 50%
      border-width: 2px
      border-style: solid
      background-color: transparent
      margin-right: 15px
      flex-shrink: 0
      &.facebook
        border-color: #4460A0
      &.twitter
        border-color: #00AAEC
      &.insta
        border: none

@media only screen and (min-width: 1000px)
  body#home
    section.description
      .desc-segment
        .segment-wrapper
          display: flex
          .segment-item
            width: 50%
    section.footer
      padding: 0
      .footer-copy, .footer-social
        width: 40%
      .footer-mid
        display: block
        width: 20%

@media only screen and (min-width: 1200px)
  body#home
    .viewport
      max-width: 1200px
    .viewport-sm
      max-width: 1000px
    section.cover
      height: 600px
      .cover-image
        width: 50%
        display: flex
      .cover-content
        width: 50%
        display: flex
        margin-top: -50px
        h1.name
          margin-left: 10px
          position: relative
          top: 5px
        h1.main-text
          font-size: 3rem
          line-height: 55px
      .overview-container
        position: absolute
        border-radius: 10px
        height: 250px
        bottom: -125px
        margin-bottom: 0
        box-shadow: 3px 3px 10px rgba(0,0,0,0.15)

        .overview-viewport
          display: flex
          .overview-item
            width: 33.3333%
    section.description
      padding: 0
      &#retro
        padding-top: 250px
      .desc-segment
        display: flex
        margin-bottom: 80px
        .details-segment
          width: 66.6666%
          .segment-wrapper
            display: flex
        .title-segment
          width: 33.333%
          text-align: right
          padding-right: 35px
          margin-bottom: 0
        .segment-item
          width: 50%
          margin-bottom: 55px
    section.footer
      .footer-copy, .footer-social
        width: 33.333%
      .footer-mid
        display: block
        width: 33.333%
