<!DOCTYPE html>
<html style="box-sizing: border-box; font-family: 'Roboto', sans-serif;">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body style="box-sizing: border-box; font-family: 'Roboto', sans-serif; background-color: #F0F4F2; padding-top: 30px; padding-bottom: 30px">
    <div style="width: 100%; max-width: 640px; margin: auto; margin-top: 40px; text-align: center">
      <img src=<%= ENV['ASSET_HOST'] + asset_url("logo/v1/logo-180.png") %> style="width: 40px; height: 40px; margin-right: 7px; vertical-align: middle; display: inline-block;">
      <p style="font-size: 22px; margin-top: 24px; font-weight: 500; vertical-align: middle; display: inline-block;">Easy Scrum</p>
    </div>
    <%= yield %>
    <div style="width: 100%; max-width: 640px; text-align: center; margin-top: 40px; margin: auto; margin-bottom: 60px">
      <span style="color: rgba(107, 114, 128)">Have a question? Email us at </span>
      <a href="mailto: contact@candidteam.com" style="color: rgba(16, 185, 129, 1);"> contact@easyscrum.co </a>
    </div>
  </body>
</html>
